@page
@model studenthousing.Pages.Activiteiten

<h2>Activiteiten</h2>

<h5>Hier vind je de geplande activiteiten voor de komende twee weken.</h5>

@* <partial name="_ValidationScriptsPartial" />

     <form method="post">
        <div class="form-row">
        <div>
            <label>Activiteit:</label>
            <input asp-for="NewActivity.Activity" />
            <span asp-validation-for="NewPerson.Name" class="text-danger"></span>
        </div>
        <div>
            <label>Waar:</label>
            <input asp-for="NewActivity.Where" />
        </div>
        <div>
            <label>Inschrijvingen:</label>
            <input asp-for="NewActivity.Subscriptions" />
            <span asp-validation-for="NewActivity.Subscriptions" class="text-danger"></span>
        </div>
        <button type="submit">Add</button>
        </div>
    </form> *@

<table>
    <thead
        <tr>
            <th>Activiteit</th>
            <th>Locatie</th>
            <th>Aantal deelnemers</th>
            <th>Kosten</th>
            <th>Datum</th>
        </tr>
    </thead>

        </tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
       
</table>