@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="hero">
    <div class="hero-content">
        <h1>Welkom bij StudentHousing</h1>
        <p>Beheer eenvoudig je activiteiten en onderhoudstaken binnen jouw studentenhuis.</p>
        <a href="/Activiteiten" class="cta-button">Bekijk activiteiten</a>
    </div>

<div/>
   
<div class="hero-image">
        <img src="~/img/studenthousing.jpg" alt="Studentenhuis" />
    </div>
</div>