@page
@model studenthousing.Pages.Onderhoudsplanning


<h2>Onderhoudsplanning</h2>

@* <partial name="_ValidationScriptsPartial" />

    <form method="post">
        <div class="form-row">
        <div>
            <label>Taak:</label>
            <input asp-for="NewTask.Task" />
            <span asp-validation-for="NewTask.Task" class="text-danger"></span>
        </div>
        <div>
            <label>Waar:</label>
            <input asp-for="NewTask.Where" />
        </div>
        <div>
            <label>Wie:</label>
            <input asp-for="NewTask.Who" />
            <span asp-validation-for="NewTask.Who" class="text-danger"></span>
        </div>
        <button type="submit">Add</button>
        </div>
    </form> *@

<table>
        <tr>
            <th>Taak</th>
            <th>Waar</th>
            <th>Wie</th>
            <th></th>
            <th>Expert needed</th>
            <th>Datum</th>
        </tr>

        </tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
       
</table>